{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="col-md-4 offset-4 content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom">Reset Password</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group d-grid mt-4 mb-3">
            <button class="btn btn-outline-primary" type="submit">Reset Password</button>
        </div>
    </form>
    <div class="border-top">
        <small class="text-muted">
            Need An Account? <a class="ml-2" href="{% url 'register' %}">Sign Up</a>
        </small>
    </div>
</div>

{% endblock content %}