body {
    background: #000000;
    color: #333333;
}
  
h1, h2, h3, h4, h5, h6 {
    color: #444444;
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
}

.delete-button {
    display: none;
}

.hoverable:hover > .delete-button, .delete-button:hover {
    display: inline-block;
}

.order_price {
    display: inline-block;
}

.hoverable:hover > .order_price {
    display: none;
}

.hoverable {
    display: inline-block;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.disable-scrollbars::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Chrome/Safari/Webkit */
}

.disable-scrollbars {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
}

.theme-grey, .theme-grey:focus {
    background-color: #c6c8ca;
}

.active-grey {
    background-color: #c6c8ca !important;
}

#title {
    font-size: 80px;
    font-family: 'Major Mono Display', monospace;
    text-transform:none !important;
    letter-spacing:-5px;
}

#title-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    vertical-align:middle;
}