body {
    background: #000000;
    color: #333333;
}
  
h1, h2, h3, h4, h5, h6 {
    color: #444444;
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
}

.delete-button {
    display: none;
}

.hoverable:hover > .delete-button, .delete-button:hover {
    display: inline-block;
}

.order_price {
    display: inline-block;
}

.hoverable:hover > .order_price {
    display: none;
}

.hoverable {
    display: inline-block;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}