{% extends 'base.html' %}
{% block content %}

<h1>{{ event.group.name }}: {{ event.name }}</h1>

<div class="container mt-5 mb-5">
    <table class="table table-striped table-hover" style="table-layout:fixed;">
        <tbody>
            <tr>
                <th scope="row" style="width:25%; text-align:left">Name</th>
                {% for account in accounts %}
                <td style="text-align:center"><b>{{ account.name }}</b></td>
                {% endfor %}
            </tr>
            <tr>
                <th scope="row" style="text-align:left">Balance</th>
                {% for account in accounts %}
                <td style="text-align:center">{{ account.balance }}</td>
                {% endfor %}
            </tr>
            {% for market in markets %}
            <tr>
                <th class="text-truncate" scope="row" style="text-align:left">
                    <small>{{ market.description }}</small>
                </th>
                {% for position in market.positions %}
                <td style="padding: 0; vertical-align: middle; text-align: center;">
                    <span
                        class="badge rounded-pill {% if position.pos < 0 %}bg-danger{% elif position.pos > 0 %}bg-success{% else %}bg-dark{% endif %}"
                        style="min-width: 2rem;">
                        {{ position.abs_pos }}
                    </span>
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

{% block navbar %}
<div class="dropdown-divider border-light"></div>
<a class="nav-link" style="border-left: 1px;" href="{% url 'event_list' event.group.pk %}">{{ event.group.name }}</a>
<div class="dropdown-divider border-light"></div>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        {{ event.name }}
    </a>
    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="{% url 'markets' event.pk %}">Markets</a></li>
        <li><a class="dropdown-item" href="{% url 'event_accounts' event.pk %}">Accounts</a></li>
    </ul>
</li>
{% endblock %}
