{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row justify-content-center">
    <div class="col-10 col-md-6 col-xl-4 content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom">New Event</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="btn-toolbar mt-4 mb-3 justify-content-between">
                <button class="btn btn-outline-primary" type="submit">Done</button>
                <a class="btn btn-outline-secondary" href="{% url 'event_list' group.pk %}">Cancel</a>
            </div>
        </form>
    </div>
</div>

{% endblock content %}