{% extends 'base.html' %}
{% block content %}

<h1 class="text-white">{{ group.name }}</h1>

<div class="btn-toolbar justify-content-between mt-3 mb-3 pt-3 pb-3 border-top border-bottom">
    <a class="btn btn-outline-success" href="{% url 'event_create' group.pk %}">New Event</a>
    <a class="btn btn-outline-primary" href="#">Add Member</a>
</div>

<div class="container">
    <div class="row">
        <div class="list-group w-100">
            {% for event in events %}
            <a href="{% url 'markets' event.pk %}" class="list-group-item list-group-item-dark list-group-item-action">{{ event.name }}</a>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}

{% block navbar %}
<div class="dropdown-divider border-light"></div>
<a class="nav-link" style="border-left: 1px;" href="{% url 'event_list' group.pk %}">{{ group.name }}</a>
{% endblock %}
