{% extends 'base.html' %}
{% block content %}

<h4 class="text-light mt-3">{{ group.name }}:</h4>

<div class="container mt-3 mb-3 pt-3 border-top">
    <div class="row">
        <div class="list-group w-100">
            {% for event in events %}
            <a href="{% url 'markets' event.pk %}" class="btn btn-outline-secondary mt-1 mb-1" style="text-align: left;">{{ event.name }}</a>
            {% endfor %}
        </div>
    </div>
</div>

<div class="btn-toolbar mt-3 mb-3 pt-3 pb-3 border-top justify-content-between">
    <a class="btn btn-outline-success" href="{% url 'event_create' group.pk %}">New Event</a>
    <a class="btn btn-outline-secondary" href="{% url 'add_member' group.pk %}">Add Member</a>
</div>

<script type="text/javascript">

$(document).on("click", "#add_member_button", function() {
    $.ajax({
        url: "{% url 'add_member' group.pk %}",
        data: {
            "csrfmiddlewaretoken": "{{ csrf_token }}",
            "username": $("#username_field").val()
        },
        type: "post",
        success: function(data) {
            document.getElementById("add_member_feedback").innerHTML = data;
        },
        failure: function(data) {
            console.log("failure");
            console.log(data);
        }
    });
    $("#username_field").val("");
})

</script>

{% endblock %}

{% block navbar %}
<div class="dropdown-divider border-light"></div>
<a class="nav-link" style="border-left: 1px;" href="{% url 'event_list' group.pk %}">{{ group.name }}</a>
{% endblock %}
