{% extends 'base.html' %}
{% block content %}

<h4 class="text-light mt-3">Your Groups:</h4>

<div class="container mt-3 mb-3 pt-3 border-top">
    <div class="row">
        <div class="list-group w-100">
            {% for group in groups %}
            <a href="{% url 'event_list' group.pk %}" class="btn btn-outline-secondary mt-1 mb-1" style="text-align: left;">{{ group.name }}</a>
            {% endfor %}
        </div>
    </div>
</div>

<div class="btn-toolbar justify-content-between mt-3 mb-3 pt-3 pb-3 border-top">
    <a class="btn btn-outline-success" href="{% url 'group_create' %}">New Group</a>
</div>

{% endblock %}