{% extends "base.html" %}
{% block content %}

<h1 class="text-light">{{ group.name }}: {{ event.name }}</h1>

<ul class="nav nav-tabs mt-3" style="border-color: #c6c8ca;">
    <li class="nav-item bg-dark">
        <a class="nav-link active active-grey border-0">Markets</a>
    </li>
    <li class="nav-item bg-dark">
        <a class="nav-link text-muted border-0" href="{% url 'event_accounts' event.pk %}">Accounts</a>
    </li>
</ul>

<div class="mt-3 mb-3" id="markets_list">
    {% include "markets_list.html" %}
</div>

<div class="btn-toolbar mb-3 pt-3 pb-3 border-top justify-content-between">
    <a class="btn btn-outline-success" href="{% url 'market_create' event.pk %}">New Market</a>
</div>

<script type="text/javascript">

(function doPoll(){
    $.get("{% url 'market_orders' event.pk %}", function(data) {
        Object.keys(data).forEach(function(key) {
            if (data[key]['has_settled'] == "true") {
                document.getElementById("settlement_" + key).innerHTML = "Settled at " + data[key]['settlement'];
            }

            var sellHTML = `<li class="list-group-item list-group-item-dark"><small class="fw-lighter">No sell orders</small></li>`;
            if (data[key]['sell_orders'].length > 0) {
                sellHTML = "";
                data[key]['sell_orders'].forEach(function(val) {
                    var button = "";
                    var className = "";
                    if (val['ordered_by'] == "{{ user.username }}") {
                        button = `<span class="btn badge bg-danger delete-button text-light" id="${val['pk']}">Delete</span>`;
                        className = "order_price";
                    }
                    sellHTML +=
                    `<li class="list-group-item list-group-item-dark">
                        <div class="hoverable justify-content-between d-flex">
                            ${val['ordered_by']}
                            ${button}
                            <span class=${className}>
                                <small class="fw-light">sell at </small>${val['price']}
                            </span>
                        </div>
                    </li>`;
                })
            }
            document.getElementById("sell_orders_" + key).innerHTML = sellHTML;

            var buyHTML = `<li class="list-group-item list-group-item-dark"><small class="fw-lighter">No buy orders</small></li>`;
            if (data[key]['buy_orders'].length > 0) {
                buyHTML = "";
                data[key]['buy_orders'].forEach(function(val) {
                    var button = "";
                    var className = "";
                    if (val['ordered_by'] == "{{ user.username }}") {
                        button = `<span class="btn badge bg-danger delete-button text-light" id="${val['pk']}">Delete</span>`;
                        className = "order_price";
                    }
                    buyHTML +=
                    `<li class="list-group-item list-group-item-dark">
                        <div class="hoverable justify-content-between d-flex">
                            ${val['ordered_by']}
                            ${button}
                            <span class=${className}>
                                <small class="fw-light">buy at </small>${val['price']}
                            </span>
                        </div>
                    </li>`;
                })
            }
            document.getElementById("buy_orders_" + key).innerHTML = buyHTML;

            document.getElementById("pnl_" + key).innerHTML = data[key]['pnl'];
            var pos = data[key]['pos'];
            var pill_class = "bg-primary";
            if (pos < 0) pill_class = "bg-danger";
            else if (pos > 0) pill_class = "bg-info";
            var abs_pos = data[key]['abs_pos'];
            document.getElementById("pos_" + key).innerHTML = 
                `<span class="badge ${pill_class}" style="min-width: 2rem;">
                    ${abs_pos}
                </span>`;
        });
        setTimeout(doPoll, 1000);
    });
})();

$(document).on("click", ".delete-button", function() {
    $.ajax({
        url: "{% url 'order_delete' %}",
        data: {
            "order_id": $(this).attr("id")
        },
        type: "get",
        success: function(data) {
            console.log(data);
        },
        failure: function(data) {
            console.log("failure");
            console.log(data);
        }
    });
});

$(document).on("click", ".order_button", function() {
    var market_id = $(this).attr("value");
    $.ajax({
        url: "{% url 'order_add' %}",
        data: {
            "csrfmiddlewaretoken": "{{ csrf_token }}",
            "market_id": market_id,
            "is_buy": $(this).attr("name") == "buy",
            "price": $("#price_" + market_id).val()
        },
        type: "post",
        success: function(data) {
            document.getElementById("feedback_" + market_id).innerHTML = data;
        },
        failure: function(data) {
            console.log("failure");
            console.log(data);
        }
    });
    $("#price_" + $(this).attr("value")).val("");
})

</script>

{% endblock %}

{% block navbar %}
<div class="dropdown-divider border-light"></div>
<a class="nav-link" href="{% url 'event_list' group.pk %}">{{ group.name }}</a>
<div class="dropdown-divider border-light"></div>
<a class="nav-link" href="{% url 'markets' event.pk %}">{{ event.name }}</a>
{% endblock %}
