{% extends "base.html" %}
{% block content %}

<h1>Welcome {{ user }}!</h1>

<a class="btn btn-outline-success mt-3" href="{% url 'market_create' %}">New Market</a>

<div id="markets_list">
    {% include "markets_list.html" %}
</div>

<script type="text/javascript">

(function doPoll(){
    $.get("{% url 'markets' %}", function(data) {
        console.log('polled');
        document.getElementById("markets_list").innerHTML = data;
        setTimeout(doPoll,5000);
    });
})();

$(document).on("click", ".delete-button", function() {
    console.log("pressed");
    $.ajax({
        url: "{% url 'order_delete' %}",
        data: {
            "order_id": $(this).attr("id")
        },
        type: "get",
        success: function(data) {
            console.log(data);
        },
        failure: function(data) {
            console.log("failure");
            console.log(data);
        }
    })
});

</script>

{% endblock %}