{% load crispy_forms_tags %}
<div class="row justify-content-left">
    {% for market in markets %}
    <div class="col-xs-12 col-md-6 col-xl-4">
        <div class="card text-light bg-dark mt-2 mb-2 align-items-center" style="width: 20rem;">
            <a class="w-100 text-decoration-none" data-bs-toggle="collapse" href="#detail{{ market.market.pk }}"
                role="button" aria-expanded="false" aria-controls="detail{{ market.market.pk }}">
                <div class="card-header w-100 pb-0">
                    <h5 class="card-title pt-1 pb-1 text-light">{{ market.market.description }}</h5>
                </div>
            </a>
            <div class="collapse multi-collapse w-100" id="detail{{ market.market.pk }}">
                <div class="card-header w-100">
                    {% if market.market.details %}
                    <p class="pb-1">{{ market.market.details }}</p>
                    {% endif %}
                    <small>
                        Min Price: {{ market.market.min_price }}<br>
                        Max Price: {{ market.market.max_price }}<br>
                        Tick Size: {{ market.market.tick_size }}<br>
                        Multiplier: {{ market.market.multiplier }}<br>
                        Position Limit: {{ market.market.position_limit }}<br>
                    </small>
                </div>
            </div>
            <div class="card-header w-100">
                <a class="btn btn-outline-secondary btn-sm" data-bs-toggle="collapse" href="#detail{{ market.market.pk }}"
                    role="button" aria-expanded="false" aria-controls="detail{{ market.market.pk }}">Details</a>
                {% if user == market.market.created_by %}
                <a class="btn btn-outline-secondary btn-sm" href="{% url 'market_update' event_id=event.pk pk=market.market.pk %}">Edit</a>
                {% endif %}
            </div>
            <ul class="list-group list-group-flush w-100" id="sell_orders_{{ market.market.pk }}">
                {% if not market.sell_orders %}
                <li class="list-group-item list-group-item-dark"><small class="fw-lighter">No sell orders</small></li>
                {% else %}
                {% for sell_order in market.sell_orders %}
                <li class="list-group-item list-group-item-dark">
                    <div class="hoverable justify-content-between d-flex">
                        {{ sell_order.ordered_by }}
                        {% if sell_order.ordered_by == user %}
                        <span class="btn badge bg-danger delete-button" id="{{ sell_order.pk }}">Delete</span>
                        {% endif %}
                        <span class="{% if sell_order.ordered_by == user %} order_price {% endif %}">
                            <small class="fw-light">sell at </small>{{ sell_order.price }}
                        </span>
                    </div>
                </li>
                {% endfor %}
                {% endif %}
            </ul>
            <ul class="list-group list-group-flush w-100" id="buy_orders_{{ market.market.pk }}">
                {% if not market.buy_orders %}
                <li class="list-group-item list-group-item-dark"><small class="fw-lighter">No buy orders</small></li>
                {% else %}
                {% for buy_order in market.buy_orders %}
                <li class="list-group-item list-group-item-dark">
                    <div class="hoverable justify-content-between d-flex">
                        {{ buy_order.ordered_by }}
                        {% if buy_order.ordered_by == user %}
                        <span class="btn badge bg-danger delete-button" id="{{ buy_order.pk }}" value="{{ market.market.pk }}">Delete</span>
                        {% endif %}
                        <span class="{% if buy_order.ordered_by == user %} order_price {% endif %}">
                            <small class="fw-light">buy at </small>{{ buy_order.price }}
                        </span>
                    </div>
                </li>
                {% endfor %}
                {% endif %}
            </ul>
            <div class="card-footer w-100" id="settlement">
                {% if not market.has_settled %}
                <form onkeydown="return event.key != 'Enter';">
                    <input type="number" name="price" step="0.01" class="numberinput form-control mt-2" required="" id="price_{{ market.market.pk }}" placeholder="Price">
                    <small id="feedback_{{ market.market.pk }}"></small>
                    <div class="btn-toolbar mt-3 justify-content-between">
                        <button class="btn btn-outline-secondary btn-sm order_button" name="buy" value="{{ market.market.pk }}" type="button">Buy</button>
                        <button class="btn btn-outline-secondary btn-sm order_button" name="sell" value="{{ market.market.pk }}" type="button">Sell</button>
                    </div>
                </form>
                {% else %}
                Settled at {{ market.market.settlement }}
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<script type="text/javascript">
</script>